



@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #f9f9f9;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}
/*

.main {
	max-width: 82.667em;
	min-height: 40em;
}
*/

.container > header {
	text-align: center;
	font-size: 16px;
	padding: 4em 2em 3em;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	position: relative;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
	.container > header {
		font-size: 75%;
	}
}


/*//////////////////////
content styling*/

.inner-row {
	width: 100%;
	margin: 50px auto;
	background: #eeeeee;
	padding: 40px 20px;
	vertical-align: center;
	text-align: center;
}


.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	background-size: cover;
}


.black {
	background:#000000;
}



nav.navbar.bootsnav ul.nav > li > a {
    color: #ffffff;
    background-color: #1691be !important;
    margin-right: 1px;
    padding: 30px

}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#166ba2 0,#1691be 100%);
    background-image: -o-linear-gradient(top,#166ba2 0,#1691be 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#166ba2),to(#1691be));
    background-image: linear-gradient(to bottom,#166ba2 0,#1691be 100%);
    }

/*THIS IS FOR THE SERVICES SECTION*/
 .services ul {
 	padding: 30px;
 }
 .services li 
 	{
 	width: 300px;
 	background:#dddddd;
 	min-height: 200px;
 	display: inline-block;
 	margin: 20px; 
 	text-align: center;
 	vertical-align: center;
 	line-height: 200px;
 	}

 /*THIS IS FOR THE SERVICES SECTION*/


 /*THIS IS FOR THE CLIENTS SECTION*/
  .client ul {
 	padding: 30px;
 }

 /* colors*/
 .bgblue {
 	background-color: #1691be; 
 }

 .titleblue {
 	color: #1691be
 }


/* Colors ends ends here */
.title {text-transform:uppercase;}

.client li  {
	width: 200px;
	background: #dddddd;
	display: inline-block;
	min-height: 200px;
	margin: 10px;
	text-align: center;
	vertical-align: center;
	line-height: 200px;
	
}

/*for a fixed height*/
.height {
	min-height: 500px;
}

.padding {
	padding: 50px;
}

.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
 /*THIS IS FOR THE SERVICES SECTION*/
}
@media screen and (max-width:400px) {
	 .services li  {
		max-width: 200px;
	}
	
}



 footer {
 	padding: 30px;
 	background: #dddddd;
 	text-align: center;
 }



 .navicon ul li{
 	display: inline-block !important;
 }
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

.mtop {
	margin-top:100px;
	padding: 30px;
	text-transform: capitalize;
}

.hdbg {
	background:#000000;
	color: #ffffff;

}

.hdbg>h1{
	color: #ffffff;
}


/*for image placeholder*/
.img {
	line-height: 500px;
}

.about h1,h2,h3,h4,h5,h6,p {
	color:#000000;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

/* Our Team
-------------------------------------------------------*/

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}


